@import "ui-variables";
@import "ui-mixins";

.todoer-settings-container {
  margin: 0 auto;
  width: 75%;
  max-width: 768px;
}

.todoer-settings-input {
  width: 100%;
}

.todoer-settings-label {
  width: 100%;
  display: inline-block;
}
